<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::site-head"></head>

<body class="bg-light">
<header th:replace="fragments/header::site-header"></header>
<aside th:replace="fragments/aside_right::aside-right"></aside>
<div class="bd-cheatsheet container-fluid bg-body">
    <section id="content">
        <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Contents</h2>

        <article class="my-3" id="typography">
            <div th:insert="fragments/article_typography::article_typography"></div>

           <div>
               <div class="bd-example">
                   <h4 class="mb-3 text-center">add Provider Data</h4>
                   <form th:action="@{/providerId/frontend/add-provider}" th:object="${provider}" method="post">
                       <!--<form method="post" action="/frontend/addProviderId" modelAttribut="providerId">-->
                       <div class="mb-3">
                           <label for="id" class="form-label">Id</label>
                           <input type="text" class="form-control" id="id" th:field="*{id}" disabled>
                       </div>
                       <div class="mb-3">
                           <label for="costumerNumber" class="form-label">CostumerNumber</label>
                           <input type="text" class="form-control" id="costumerNumber" th:field="*{costumerNumber}">
                       </div>
                       <div class="mb-3">
                           <label for="providerId" class="form-label">ProviderId</label>
                           <input type="number" class="form-control" id="providerId" th:field="*{providerId}">
                       </div>
                       <div class="mb-3">
                           <label for="produkt" class="form-label">Product</label>
                           <input type="text" class="form-control" id="produkt" th:field="*{product}">
                       </div>
                       <div class="mb-3">
                           <label for="carriercode" class="form-label">CarrierCode</label>
                           <input type="number" class="form-control" id="carriercode" th:field="*{carrierCode}">
                       </div>
                       <div class="mb-3">
                           <label for="name" class="form-label">Provider Name</label>
                           <input type="text" class="form-control" id="name" th:field="*{name}">
                       </div>
                       <button type="submit" value="Submit" class="btn btn-info">Save</button>
                   </form>
               </div>
           </div>

        </article>

    </section>

</div>

<div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
