<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<article class="my-3" id="typography">-->
    <div th:fragment="article_typography" class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Typography</h3>
        <a class="d-flex align-items-center" href="#">Documentation</a>
        <div class="dropdown-header">Api</div>
        <a class="d-flex align-items-center" th:href="@{/api/carrier/findAll}">AllCarriers</a>
        <div class="dropdown-header">Frontend</div>
        <a role="button" class="d-flex align-items-center" th:href="@{/findAll}">Carriers</a>
        <a role="button" class="d-flex align-items-center" th:href="@{/serviceNumbers/findAll}">ProviderIDs</a>
        <a role="button" class="d-flex align-items-center" th:href="@{/additionalAgreements/findAll}">AdditionalAgreements</a>
        <a role="button" class="d-flex align-items-center" th:href="@{/usageAgreements/findAll}">UsageAgreements</a>
        <div class="dropdown-header">Forms</div>
        <a class="d-flex align-items-center" th:href="@{/addCarrier}" >add Carrier</a>
        <a class="d-flex align-items-center" th:href="@{/serviceNumbers/addServiceNumber}" >add ServiceNumber</a>
        <a class="d-flex align-items-center" th:href="@{/additionalAgreements/addAgreement}" >add AdditionalAgreement</a>
        <a class="d-flex align-items-center" th:href="@{/usageAgreements/addAgreement}" >add UsageAgreement</a>
        <div class="dropdown-header">Others</div>
        <a class="d-flex align-items-center" th:href="@{/swagger-ui.html}">Swagger-UI</a>
    </div>

    <!--<div>
        <div class="bd-example">
            <p class="display-3">Test</p>
        </div>
    </div>-->
<!--</article>-->
