<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Bootstrap Material
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            Thomas Wolff DTA
        </div>
        <!-- your footer here -->
    </div>
</footer>
<body>

</body>
</html>
