<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<body class="bg-light">-->
<header th:fragment="site-header" class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            <img src="/brand/bootstrap-logo-white.svg" width="38" height="30" class="me-3" alt="Bootstrap">
            Developer Academy
        </h1>
        <button class="btn btn-light ms-auto" hreflang="ar">Login</button>
    </div>
</header>



<!-- Das neueste kompilierte und minimierte JavaScript -->
<!--
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>

</body>


</html>-->
