<html xmlns:th="http://www.thymeleaf.org" lang="de">
<nav class="navbar navbar-expand-lg navbar-brand navbar-absolute fixed-top " th:fragment="main-content-navbar">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="btn btn-light btn-sm" role="button" th:href="@{/carrierFindAll}">Carrier</a>
            <div class="dropdown show">
                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuOneToMany" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    List Agreements
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOneToMany">

                    <a class="btn btn-sm btn-light" role="button" th:href="@{/additionalAgreementsFindAll}">Zusatzvereinbarung</a>
                    <a class="btn btn-sm btn-light" role="button" th:href="@{/usageAgreementsFindAll}">Nutzungsvertrag</a>
                    <a class="btn btn-sm btn-light" role="button" th:href="@{/serviceNumbersFindAll}">ProviderID</a>
                    <a class="btn btn-sm btn-lightd" role="button" th:href="@{/customerAddressesFindAll}">Adressen</a>
                </div>
            </div>
            <div class="dropdown show">
                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuOneToOne" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    One Agreements
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOneToOne">
                    <a class="btn btn-sm btn-light" role="button" th:href="@{/bktosFindAll}">Buchungskonto</a>
                    <a class="btn btn-sm btn-light" role="button" th:href="@{/contactsFindAll}">Kontakt</a>
                    <a class="btn btn-sm btn-light" role="button" th:href="@{/oslAgreementsFindAll}">OSL</a>
                    <a class="btn btn-sm btn-light" role="button" th:href="@{/pztConfigsFindAll}">PZT</a>
                    <a class="btn btn-sm btn-light" role="button" th:href="@{/scCcAgreementsFindAll}">Search/-CourtesyCall</a>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <i class="material-icons">notifications</i> Notifications
                    </a>
                </li>
                <!-- your navbar here -->
            </ul>
        </div>
    </div>
</nav>
</html>
