<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper ">
    <div th:insert="fragments/sidebar-carrier"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:insert="fragments/main-content-navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <form th:action="@{/addServiceNumber}" th:object="${serviceNumber}" method="post">

            <div class="form-group">
              <label for="carrier">Carrier A-Z sortiert</label>
              <select class="form-control form-control-sm"  id="carrier" th:field="*{carrier.id}">
                <option th:value="${carrier.id}" th:each="carrier: ${carriers}" th:text="${carrier.name+' - '+carrier.customerNumber}"></option>
              </select>
              <small id="emailHelp" class="form-text text-muted text-danger">Wählen Sie zu erst den zutreffenden Carrier aus!</small>
            </div>

            <div class="form-row">
              <div class="col">
                <label for="additionalAgreement">Produkt</label>
                <select class="form-control form-control-sm" th:field="*{product}" id="additionalAgreement">
                  <option value="">-- selected --</option>
                  <option th:each="value : ${T(de.telekom.carrier.v1.api.enums.ProductEnum).values()}"
                          th:value="${value}"
                          th:text="${value.getLabel()}"></option>
                </select>
              </div>
              <div class="col">
                <label class="bmd-label-static">ProviderID</label>
                <input type="number" class="form-control form-control-sm" placeholder="1234"
                       th:value="*{providerId}"
                       th:field="*{providerId}" required>
              </div>
            </div>
            <div class="form-row">
              <div class="col-2">
                <label class="md-label-static">erstellt</label>
                <input type="datetime-local" class="form-control form-control-sm"
                       th:value="*{createDate}"
                       th:field="*{createDate}" required>
              </div>
              <div class="col">

              </div>
            </div>

            <button type="submit" class="btn btn-info">Save</button>
          </form>
          <!-- your content here -->
        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>

</body>

</html>
