<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::site-head"></head>

<body class="bg-light">
<header th:replace="fragments/header::site-header"></header>
<aside th:replace="fragments/aside_right::aside-right"></aside>
<div class="bd-cheatsheet container-fluid bg-body">
    <section id="content">
        <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Contents</h2>

        <article class="my-3" id="typography">
            <div th:insert="fragments/article_typography::article_typography"></div>
            <div class="bd-example">
                <a type="button" class="btn btn-primary btn-sm mb-2" th:href="@{/addCarrier}">add Carrier</a>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Kundennummer</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:if="${!carriers.isEmpty()}">
                    <tr th:each="carrier: ${carriers}">
                        <td scope="row" th:text="${carrier.id}" >1</td>
                        <td th:text="${carrier.name}"></td>
                        <td th:text="${carrier.customerNumber}"></td>
                        <td>
                            <a  class="btn btn-success btn-sm" role="button" th:href="@{'/findByCarrierId/' + ${carrier.id}}">Details</a>
                        </td>
                        <td>
                            <a  class="btn btn-danger btn-sm" role="button" th:href="@{/delete/{id}(id=${carrier.id})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody th:if="${carriers.isEmpty()}">
                    <tr>
                        <td colspan="5" class="text-center">No Data's </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article class="my-3" id="tables">
            <div th:insert="fragments/article_providerIds::article_providerids"></div>
        </article>

    </section>

</div>

<div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
