<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper ">
    <div th:insert="fragments/sidebar-carrier" class="sidebar" data-color="green" data-background-color="white"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:insert="fragments/main-content-navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          <a type="button" role="button" class="btn btn-primary btn-sm mb-2" th:href="@{/addAdditionalAgreement}">
            <i class="material-icons">add</i> add AdditionalAgreement
          </a>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Additional Agreement Table</h4>
                <p class="card-category">Zusatzvereinbarungen</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Zusatzvereinbarung</th>
                      <th>Carrier</th>
                      <th>Vertragsabschluss</th>
                      <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody th:if="${!additionalAgreements.isEmpty()}">
                    <tr th:each="additionalAgreement: ${additionalAgreements}">
                      <td class="text-center" th:text="${additionalAgreement.id}">1</td>
                      <td th:text="${additionalAgreement.additionalAgreement.getLabel()}">Andrew Mike</td>
                      <td th:text="${additionalAgreement.carrier.name}">Name</td>
                      <td th:text="${#dates.format(additionalAgreement.createDate, 'dd.MM.yy')}">Datum</td>
                      <td class="td-actions text-right">
                        <a type="button" rel="tooltip" role="button" class="btn btn-info" aria-disabled="true">
                          <i class="material-icons">details</i>
                        </a>
                        <a type="button" role="button" rel="tooltip" class="btn btn-success" th:href="@{'/editAdditionalAgreement/' + ${additionalAgreement.id}}">
                          <i class="material-icons">edit</i>
                        </a>
                        <a type="button" role="button" rel="tooltip" class="btn btn-danger" th:href="@{/deleteAdditionalAgreement/{id}(id=${additionalAgreement.id})}">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                    <tbody th:if="${additionalAgreements.isEmpty()}">
                    <tr>
                      <td colspan="5" class="td-actions text-center">No Data's </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
