<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::site-head"></head>

<body class="bg-light">
<header th:replace="fragments/header::site-header"></header>
<aside th:replace="fragments/aside_right::aside-right"></aside>
<div class="bd-cheatsheet container-fluid bg-body">
    <section id="content">
        <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Contents</h2>

        <article class="my-3" id="typography">
            <div th:insert="fragments/article_typography::article_typography"></div>
            <div class="bd-example">
                <a type="button" class="btn btn-primary btn-sm mb-2" th:href="@{/usageAgreements/addAgreement}">add Agreement</a>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nutzungsverträge</th>
                        <th scope="col">Carrier Name</th>
                        <th scope="col">Vertragsabschluss</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:if="${!usageAgreements.isEmpty()}">
                    <tr th:each="usageAgreement: ${usageAgreements}">
                        <td th:text="${usageAgreement.usageAgreement.getLabel()}"></td>
                        <td th:text="${usageAgreement.carrier.name}"></td>
                        <td th:text="${#dates.format(usageAgreement.createDate, 'dd.MM.yyyy')}"></td>
                        <td>
                            <a  class="btn btn-success btn-sm" role="button" th:href="@{'/usageAgreements/edit/' + ${usageAgreement.id}}">edit</a>
                        </td>
                        <td>
                            <a  class="btn btn-danger btn-sm" role="button" th:href="@{/usageAgreements/delete/{id}(id=${usageAgreement.id})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody th:if="${usageAgreements.isEmpty()}">
                    <tr>
                        <td colspan="5" class="text-center">No Data's </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article class="my-3" id="tables">
            <div th:insert="fragments/article_providerIds::article_providerids"></div>
        </article>

    </section>

</div>

<div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
