<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper ">
    <div th:insert="fragments/sidebar-carrier"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:insert="fragments/main-content-navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <a type="button" role="button" class="btn btn-primary btn-sm mb-2" th:href="@{/addCarrier}">
            <i class="material-icons">add</i> add Carrier
          </a>

          <div class="card">
            <div class="card-header bg-secondary">
              <h4 class="card-title text-white ">Carrier Table</h4>
              <p class="card-category text-white"> Here you can see all Carrier's </p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>Kundennummer</th>
                    <th>CarrierCode</th>
                    <th>
                      Zeichenlänge<br>
                      <small class="text-muted">Firmenname</small>
                    </th>
                    <th class="text-right">Actions</th>
                  </tr>
                  </thead>
                  <tbody th:if="${!carriers.isEmpty()}">
                  <tr th:each="carrier: ${carriers}">
                    <td class="text-center" th:text="${carrier.id}">1</td>
                    <td th:text="${carrier.name}">Andrew Mike</td>
                    <td th:text="${carrier.customerNumber}">2139872017</td>
                    <td th:text="${carrier.carrierCode}">carrierCode</td>
                    <td th:text="${carrier.carrierNameCharacterLength}">lenght</td>
                    <td class="td-actions text-right">
                      <a type="button" rel="tooltip" role="button" class="btn btn-info" th:href="@{'/findByIdCarrier/' + ${carrier.id}}">
                        <i class="material-icons">details</i>
                      </a>
                      <a type="button" role="button" rel="tooltip" class="btn btn-danger" th:href="@{/deleteCarrier/{id}(id=${carrier.id})}">
                        <i class="material-icons">delete</i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                  <tbody th:if="${carriers.isEmpty()}">
                  <tr>
                    <td colspan="5" class="td-actions text-center">No Data's </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <!-- your content here -->
        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
