<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper ">
    <div th:insert="fragments/sidebar-carrier" class="sidebar" data-color="green" data-background-color="white"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div th:insert="fragments/main-content-navbar"></div>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          <a type="button" role="button" class="btn btn-primary btn-sm mb-2" th:href="@{/usageAgreementsAddAgreement}">
            <i class="material-icons">add</i> add UsageAgreement
          </a>
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Zusatzvereinbarung</th>
              <th>Carrier</th>
              <th>Vertragsabschluss</th>
              <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody th:if="${!usageAgreements.isEmpty()}">
            <tr th:each="usageAgreement: ${usageAgreements}">
              <td class="text-center" th:text="${usageAgreement.id}">1</td>
              <td th:text="${usageAgreement.usageAgreement.getLabel()}">Andrew Mike</td>
              <td th:text="${usageAgreement.carrier.name}">Name</td>
              <td th:text="${#dates.format(usageAgreement.createDate, 'dd.MM.yy')}">Datum</td>
              <td class="td-actions text-right">
                <a type="button" rel="tooltip" role="button" class="btn btn-info" aria-disabled="true">
                  <i class="material-icons">details</i>
                </a>
                <a type="button" role="button" rel="tooltip" class="btn btn-success" th:href="@{'/usageAgreements/edit/' + ${usageAgreement.id}}">
                  <i class="material-icons">edit</i>
                </a>
                <a type="button" role="button" rel="tooltip" class="btn btn-danger" th:href="@{/usageAgreements/delete/{id}(id=${usageAgreement.id})}">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
            </tbody>
            <tbody th:if="${usageAgreements.isEmpty()}">
            <tr>
              <td colspan="5" class="td-actions text-center">No Data's </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
