<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper ">
    <div th:insert="fragments/sidebar-carrier"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:insert="fragments/main-content-navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <form th:action="@{/updateOslAgreement/{id}(id=${agreement.id})}" th:object="${agreement}" method="post">

           <div class="row">
             <div class="col-lg-6 col-md-12">
               <div class="form-group">
                 <label for="carrier">Carrier</label>
                 <select class="form-control"  id="carrier" th:field="*{carrier.id}">
                   <option th:value="${carrier.id}" th:each="carrier: ${carriers}" th:text="${carrier.name+' - '+carrier.customerNumber}" th:if="${carrier.oslAgreements==null}"></option>
                 </select>
               </div>
               <div class="card">
                 <div class="card-header card-header-warning">
                   <h4 class="card-title">Optionale Service Leistungen Nummern</h4>
                   <p class="card-category">update</p>
                 </div>
                 <div class="card-body">
                   <div class="form-group">
                     <label for="emailSmn">Email SMN</label>
                     <input type="email" class="form-control" id="emailSmn" placeholder="name@example.com"
                     th:value="*{emailSmn}"
                     th:field="*{emailSmn}">
                   </div>
                   <div class="row">
                     <div class="col">
                       <label for="oslAgbVersion">OSL-AGB Stand 2017</label>
                       <input type="text" class="form-control" placeholder="" id="oslAgbVersion"
                              th:value="*{oslAgbVersion}"
                              th:field="*{oslAgbVersion}">
                     </div>
                     <div class="col">
                       <label for="simple">Status SIMPLE</label>
                       <input type="text" class="form-control" placeholder="SIN/1111111" id="simple"
                              th:value="*{simple}"
                              th:field="*{simple}">
                     </div>
                   </div>
                   <div class="row">
                     <div class="col">
                       <label for="hotline">Hotline</label>
                       <input type="text" class="form-control" placeholder="" id="hotline"
                              th:value="*{hotline}"
                              th:field="*{hotline}">
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>

            <button type="submit" class="btn btn-info">Update</button>
          </form>
          <!-- your content here -->
        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
