<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper ">
    <div th:insert="fragments/sidebar-carrier"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:insert="fragments/main-content-navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <form th:action="@{/addCarrier}"  method="post">

            <div class="row g-3">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name"
                          required>
                </div>
                <div class="mb-3">
                  <label for="previousName" class="form-label">Previous Name</label>
                  <input type="text" class="form-control" id="previousName" name="previousName"
                       >
                </div>
                <div class="mb-3">
                  <label for="carrierCode" class="form-label">CarrierCode</label>
                  <input type="number" class="form-control" id="carrierCode" name="carrierCode"
                          required>
                </div>
                <div class="mb-3">
                  <label for="costumerNumber" class="form-label">CustomerNumber</label>
                  <input type="text" class="form-control" id="costumerNumber" name="costumerNumber" required>
                </div>
                <div class="col-md-2 mb-3">
                  <label for="serviceCreateDate" class="form-label">Vertragsabschluss</label>
                  <input type="date" class="form-control" id="serviceCreateDate" name="costumerNumber">
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"
                         >
                  <label class="form-check-label" for="inlineCheckbox1">WMS-TK is started</label>
                </div>
              </div>
            </div>

            <hr class="my-4">

            <button type="submit" class="btn btn-info">Save</button>
          </form>
          <!-- your content here -->
        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
