<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper ">
    <div th:insert="fragments/sidebar-carrier"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:insert="fragments/main-content-navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <form th:action="@{/updateServiceNumber/{id}(id=${serviceNumber.id})}" th:object="${serviceNumber}" method="post">

            <div class="form-group bmd-form-group">
              <label for="carrier">Carrier</label>
              <select class="form-control form-control-sm"  id="carrier" th:field="*{carrier.id}">
                <option th:value="${carrier.id}" th:each="carrier: ${carriers}" th:text="${carrier.customerNumber+'-'+carrier.name}"></option>
              </select>
              <small id="emailHelp" class="form-text text-muted">Wählen Sie hier den zutreffenden Carrier aus!</small>
            </div>
            <div class="form-group bmd-form-group">
              <label for="product">Produkt</label>
              <select class="form-control form-control-sm" th:field="*{product}" id="product">
                <option value="">-- selected --</option>
                <option th:each="value : ${T(de.telekom.carrier.v1.api.enums.ProductEnum).values()}"
                        th:value="${value}"
                        th:text="${value.getLabel()}"></option>
              </select>
            </div>
            <div class="form-group bmd-form-group">
              <label class="bmd-label-static">ProviderID</label>
              <input type="number" class="form-control form-control-sm" placeholder=""
                     th:value="*{providerId}"
                     th:field="*{providerId}">
            </div>
            <div class="form-group">
              <!--<label for="createDate">CreateDate</label>-->
              <input type="text" class="form-control form-control-sm datetimepicker"
                     th:value="*{createDate}"
                     th:field="*{createDate}">
              <small class="form-text text-muted">Wann wurde die Vereinbarung getroffen?</small>
            </div>

            <hr class="my-4">

            <button type="submit" class="btn btn-info">Update</button>
          </form>
          <!-- your content here -->
        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>
  <script>
    <!-- javascript for init -->
    $('.datetimepicker').datetimepicker({
      dateFormat: 'dd-mm-yy',
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
      }
    });
  </script>
</body>

</html>
