<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::site-head"></head>

<body class="bg-light">
<header th:replace="fragments/header::site-header"></header>
<aside th:replace="fragments/aside_right::aside-right"></aside>
<div class="bd-cheatsheet container-fluid bg-body">
    <section id="content">
        <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Contents</h2>

        <article class="my-3" id="typography">
            <div th:insert="fragments/article_typography::article_typography"></div>

            <div>
                <div class="bd-example">
                    <img src="/img/uups.png" class="rounded mx-auto d-block" alt="...">

                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Uuups</h4>
                        <p class="mb-0" th:text="${error}"></p>
                        <hr>
                        <p class="mb-0">Please try again later!</p>
                    </div>

                </div>
            </div>
        </article>

    </section>



</div>

<div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
