<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper ">
    <div th:insert="fragments/sidebar-carrier"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:insert="fragments/main-content-navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <a type="button" role="button" class="btn btn-primary btn-sm mb-2" th:href="@{/addCarrier}">
            <i class="material-icons">add</i> add Carrier
          </a>
          <a type="button" role="button" class="btn btn-success btn-sm mb-2" th:href="@{/editCarrier/{id}(id=${carrier.id})}">
            <i class="material-icons">edit</i> edit Carrier
          </a>
          <div class="card text-center">
            <div class="card-header  text-white bg-success">
              <span th:text="${carrier.name}">Name</span> <span th:if="${!carrier.previousName.isEmpty()}"><span th:text="${'alt: '+carrier.previousName}" class="small"></span></span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Kundennummer:  <span th:text="${carrier.customerNumber}"></span></h5>
              <p class="card-text">CarrierCode: <span th:text="${carrier.carrierCode}"></span></p>
              <p class="card-text">Vertragsabschluss: <span th:text="${#dates.format(carrier.serviceCreateDate, 'MM.yyyy')}"></span></p>
              <table class="table table-bordered">
                <thead>
                <tr class="table-success">
                  <th scope="col" th:if="${carrier.scCcAgreements!=null}">SC</th>
                  <th scope="col" th:if="${carrier.scCcAgreements!=null}">CC</th>
                  <th scope="col" th:if="${carrier.oslAgreements!=null}">OSL</th>
                  <th th:each="additionalAgreement: ${carrier.additionalAgreements}">
                    ZV
                  </th>
                  <th th:each="usageAgreement: ${carrier.usageAgreements}">
                    NV ESS
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td th:if="${carrier.scCcAgreements!=null}">
                    <span th:if="${carrier.scCcAgreements.searchCall == true}">x</span>
                    <span th:if="${carrier.scCcAgreements.searchCall != true}">-</span>
                  </td>
                  <td th:if="${carrier.scCcAgreements!=null}">
                    <span th:if="${carrier.scCcAgreements.courtesyCall == true}">x</span>
                    <span th:if="${carrier.scCcAgreements.courtesyCall != true}">-</span>
                  </td>
                  <td th:if="${carrier.oslAgreements!=null}">
                    <span th:if="${carrier.oslAgreements.optionalServiceL == true}">x</span>
                  </td>
                  <td th:each="agreement: ${carrier.additionalAgreements}">
                    <span th:text="${agreement.additionalAgreement.getLabel()}"></span>
                  </td>
                  <td th:each="agreement: ${carrier.usageAgreements}">
                    <span th:text="${agreement.usageAgreement.getLabel()}"></span>
                  </td>
                </tr>
                </tbody>
              </table>
              <a type="button" role="button" class="btn btn-primary btn-sm mb-2" th:href="@{/addAdditionalAgreement}">
                <i class="material-icons">add</i> add AdditionalAgreement
              </a>
              <a type="button" role="button" class="btn btn-primary btn-sm mb-2" th:href="@{/addUsageAgreement}">
                <i class="material-icons">add</i> add UsageAgreement
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <table class="table table-striped" >
                <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">BKTO Number</th>
                </tr>
                </thead>
                <tbody th:if="${carrier.account != null}">
                <tr th:if="${carrier.account.tal > 0}">
                  <th scope="row">TAL</th>
                  <td><span th:text="${carrier.account.tal}">Bkto</span></td>
                </tr>
                <tr th:if="${carrier.account.getXDsl() > 0}">
                  <th scope="row">xDSL</th>
                  <td><span th:text="${carrier.account.getXDsl()}">Bkto</span></td>
                </tr>
                <tr th:if="${carrier.account.kvzAp > 0}">
                  <th scope="row">KVZ AP</th>
                  <td><span th:text="${carrier.account.kvzAp}">Bkto</span></td>
                </tr>
                <tr th:if="${carrier.account.kvzApTransferConnection > 0}">
                  <th scope="row">KVZ AP Übergabeanschluss</th>
                  <td><span th:text="${carrier.account.kvzApTransferConnection}">Bkto</span></td>
                </tr>
                <tr th:if="${carrier.account.ftth > 0}">
                  <th scope="row">FTTH</th>
                  <td><span th:text="${carrier.account.ftth}">Bkto</span></td>
                </tr>
                <tr th:if="${carrier.account.sdsl > 0}">
                  <th scope="row">SDSL B</th>
                  <td><span th:text="${carrier.account.sdsl}">Bkto</span></td>
                </tr>
                <tr th:if="${carrier.account.l2bsa > 0}">
                  <th scope="row">L2BSA</th>
                  <td><span th:text="${carrier.account.l2bsa}">Bkto</span></td>
                </tr>
                <tr th:if="${carrier.account.l2bsaTransferConnection > 0}">
                  <th scope="row">L2BSA Übergabeanschluss</th>
                  <td><span th:text="${carrier.account.l2bsaTransferConnection}">Bkto</span></td>
                </tr>
                <tr th:if="${carrier.account.iptv > 0}">
                  <th scope="row">IP-TV</th>
                  <td><span th:text="${carrier.account.iptv}">Bkto</span></td>
                </tr>
                </tbody>
                <tbody th:if="${carrier.account == null}">
                <tr>
                  <td scope="col" colspan="2">No Data</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">ProviderID</th>
                  <th scope="col">Produkt</th>
                  <th scope="col">Leistungsnummmer</th>
                </tr>
                </thead>
                <tbody th:if="${carrier.serviceNumbers.isEmpty()}">
                <tr>
                  <td scope="col" colspan="3" class="text-center">No Data</td>
                </tr>
                </tbody>
                <tbody th:if="${!carrier.serviceNumbers.isEmpty()}">
                <tr th:each="serviceNumber: ${carrier.serviceNumbers}">
                  <th scope="row" th:text="${serviceNumber.providerId}">ProviderID</th>
                  <td th:text="${serviceNumber.product.getLabel()}">Produkt</td>
                  <td th:text="${serviceNumber.serviceNumber}">Leistungsnummer</td>
                </tr>
                </tbody>
              </table>
              <a type="button" role="button" class="btn btn-primary btn-sm mb-2" th:href="@{/addServiceNumber}">
                <i class="material-icons">add</i> add ServiceNumber
              </a>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title" th:if="${carrier.addresses.isEmpty()}">No Address</h6>
              <div th:if="${!carrier.addresses.isEmpty()}">
                <address th:each="address: ${carrier.addresses}">
                  <h4 th:text="${address.addressDescription.getLabel()}" class="text-decoration-underline"></h4>
                  <strong><span th:text="${address.name}">Name</span></strong><br>
                  <span th:text="${address.street}">Street</span><br>
                  <span th:text="${address.cityCode}">Street</span> <span th:text="${address.city}">City</span><br>
                </address>
                <a type="button" role="button" class="btn btn-primary btn-sm mb-2" th:href="@{/addCustomerAddress}">
                  <i class="material-icons">add</i> add Address
                </a>
              </div>
              <address th:if="${carrier.contact != null}">
                <h4 class="text-decoration-underline">Kontakt</h4>
                <abbr title="Phone" th:text="${'Phone: '+carrier.contact.phone}"></abbr><br>
                <abbr title="Fax" th:text="${'Fax: '+carrier.contact.fax}"></abbr><br>
                <abbr title="E-MailSmn">E-Mailadresse für SMN: <a th:href="'mailto:'+ ${carrier.contact.emailSmn}"><span th:text="${carrier.contact.emailSmn}"></span></a></abbr><br>
                <abbr title="E-MailOutput">Dialog Ausgangskanal: <a th:href="'mailto:'+ ${carrier.contact.emailDialog}"><span th:text="${carrier.contact.emailDialog}"></span></a></abbr><br>
                <abbr title="E-MailAlternate">ESS Alternativkanal: <a th:href="'mailto:'+ ${carrier.contact.emailAlternate}"><span th:text="${carrier.contact.emailAlternate}"></span></a></abbr>
              </address><br>
            </div>
          </div>
          <!-- your content here -->
        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
