<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<div th:insert="fragments/head"></div>

<body>
  <div class="wrapper">
    <div th:insert="fragments/sidebar-carrier"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " th:insert="fragments/main-content-navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container">
          <a type="button" role="button" class="btn btn-success btn-sm mb-2" th:href="@{/editCarrier/{id}(id=${carrier.id})}">
            <i class="material-icons">edit</i> edit Carrier
          </a>
          <div class="card card-nav-tabs">
            <div class="card-header card-header-success">
              <span th:text="${carrier.name}">Name</span> <span th:if="${carrier.previousName != null}"><span th:text="${'alt: '+carrier.previousName}" class="small"></span></span>
            </div>
            <div class="card-body">
              <h4 class="card-title" th:text="${'Kundennummer: ' + carrier.customerNumber}">Kundennummer</h4>
              <p class="card-text" th:text="${'CarrierCode: ' + carrier.carrierCode}">Carriercode</p>
              <p class="card-text" th:text="${'Vertragsabschluss: ' + #dates.format(carrier.serviceCreateDate, 'MM.yyyy')}">Vertragsabschluss</p>
              <table class="table table-bordered">
                <thead>
                <tr class="table-success">
                  <th scope="col" th:if="${carrier.scCcAgreements!=null}">SC</th>
                  <th scope="col" th:if="${carrier.scCcAgreements!=null}">CC</th>
                  <th scope="col" th:if="${carrier.oslAgreements!=null}">OSL</th>
                  <th th:each="additionalAgreement: ${carrier.additionalAgreements}">
                    ZV
                  </th>
                  <th th:each="usageAgreement: ${carrier.usageAgreements}">
                    NV ESS
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td th:if="${carrier.scCcAgreements!=null}">
                    <span th:if="${carrier.scCcAgreements.searchCall == true}">x</span>
                    <span th:if="${carrier.scCcAgreements.searchCall != true}">-</span>
                  </td>
                  <td th:if="${carrier.scCcAgreements!=null}">
                    <span th:if="${carrier.scCcAgreements.courtesyCall == true}">x</span>
                    <span th:if="${carrier.scCcAgreements.courtesyCall != true}">-</span>
                  </td>
                  <td th:if="${carrier.oslAgreements!=null}">
                    <span th:if="${carrier.oslAgreements.optionalServiceL == true}">x</span>
                  </td>
                  <td th:each="additionalAgreement, item: ${carrier.additionalAgreements}">
                    <span th:text="${additionalAgreement.additionalAgreement.getLabel()}"></span>
                  </td>
                  <td th:each="usageAgreement, item: ${carrier.usageAgreements}">
                    <span th:text="${usageAgreement.usageAgreement.getLabel()}"></span>
                  </td>
                </tr>
                </tbody>
              </table>
              <a type="button" role="button" class="btn btn-primary btn-sm td-actions " aria-disabled="true"
                 th:href="@{/addOslAgreementWithCarrier/{id}(id=${carrier.id})}"
                 th:class="${carrier.oslAgreements!=null?'btn btn-light btn-sm disabled':'btn btn-light btn-sm '}">
                <i class="material-icons">add</i> OslAgreement
              </a>
              <a type="button" role="button" class="btn btn-primary btn-sm td-actions " aria-disabled="true"
                 th:href="@{/addScCsAgreementWithCarrier/{id}(id=${carrier.id})}"
                 th:class="${carrier.scCcAgreements!=null?'btn btn-light btn-sm disabled':'btn btn-light btn-sm '}">
                <i class="material-icons">add</i> SC/CC
              </a>
              <a type="button" role="button" class="btn btn-light btn-sm td-actions " aria-disabled="true"
                 th:href="@{/addAdditionalAgreementWithCarrier/{id}(id=${carrier.id})}">
                <i class="material-icons">add</i> AdditionalAgreement
              </a>
              <a type="button" role="button" class="btn btn-light btn-sm td-actions " aria-disabled="true"
                 th:href="@{/addUsageAgreementWithCarrierId/{id}(id=${carrier.id})}">
                <i class="material-icons">add</i> UsageAgreement
              </a>

            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 col-lx-6 table-responsive">
                <table class="table table-striped" >
                  <thead>
                  <tr class="table-success">
                    <th scope="col">Description</th>
                    <th scope="col">BKTO Number</th>
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody th:if="${!carrier.accounts.isEmpty()}">
                  <tr th:each="account: ${carrier.accounts}">
                    <td th:text="${account.description.getLabel()}">Description</td>
                    <td th:text="${account.number}"></td>
                    <td>
                      <a type="button" role="button" rel="tooltip" class="btn btn-success btn-sm td-actions" aria-disabled="true"
                         th:href="@{/editAccountWithCarrierId/{id}(id=${account.id})}">
                        <i class="material-icons">edit</i>
                      </a>
                      <a type="button" role="button" rel="tooltip" class="btn btn-danger btn-sm td-actions" aria-disabled="true"
                         th:href="@{/deleteAccountWithCarrierId/{id}(id=${account.id})}">
                        <i class="material-icons">delete</i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                  <tbody th:if="${carrier.accounts.isEmpty()}">
                  <tr>
                    <td scope="col" colspan="4" class="text-center">No Data</td>
                  </tr>
                  </tbody>
                </table>
                <a type="button" role="button" class="btn btn-primary btn-sm td-actions " aria-disabled="true"
                   th:href="@{/addAccountWithCarrierId/{id}(id=${carrier.id})}"
                   th:class="${'btn btn-light btn-sm mb-2'}">
                  <i class="material-icons">add</i> Account
                </a>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr class="table-success">
                    <th scope="col">ProviderID</th>
                    <th scope="col">Produkt</th>
                    <th scope="col">Leistungsnummmer</th>
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody th:if="${carrier.serviceNumbers.isEmpty()}">
                  <tr>
                    <td scope="col" colspan="4" class="text-center">No Data</td>
                  </tr>
                  </tbody>
                  <tbody th:if="${!carrier.serviceNumbers.isEmpty()}">
                  <tr th:each="serviceNumber, item: ${carrier.serviceNumbers}">
                    <th scope="row" th:text="${serviceNumber.providerId}">ProviderID</th>
                    <td th:text="${serviceNumber.product.getLabel()}">Produkt</td>
                    <td th:text="${serviceNumber.serviceNumber}">Leistungsnummer</td>
                    <td>
                      <a type="button" role="button" class="btn btn-success btn-sm" aria-disabled="true"
                         th:href="@{/editServiceNumberByCarrier/{id}(id=${serviceNumber.id})}">
                        <i class="material-icons">edit</i>
                      </a>
                      <a type="button" role="button" rel="tooltip" class="btn btn-danger btn-sm"
                         th:href="@{/deleteServiceNumberByCarrier/{id}(id=${serviceNumber.id})}">
                        <i class="material-icons">delete</i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <a type="button" role="button" class="btn btn-light btn-sm" th:href="@{/addServiceNumberWithCarrierId/{id}(id=${carrier.id})}">
                  <i class="material-icons">add</i> ServiceNumber
                </a>
              </div>
            </div>

            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="card card-nav-tabs">
                <div class="card-header card-header-success ">
                  Adressen
                </div>
                <div class="card-body">
                  <h4 class="card-title" th:if="${carrier.addresses.isEmpty()}">No Address</h4>
                  <address th:each="address: ${carrier.addresses}" th:if="${!carrier.addresses.isEmpty()}">
                    <h4 th:text="${address.addressDescription.getLabel()}" class="text-decoration-underline"></h4>
                    <strong><span th:text="${address.name}">Name</span></strong><br>
                    <span th:text="${address.street}">Street</span><br>
                    <span th:text="${address.cityCode}">Street</span> <span th:text="${address.city}">City</span><br>
                    <span th:if="${carrier.addresses != null} ">
                            <a type="button" role="button" class="btn btn-light btn-sm mb-2"
                               th:href="@{/editContactWithContactId/{id}(id=${address.id})}"
                               th:class="${carrier.contact == null?'btn btn-success btn-sm mb-2 disabled':'btn btn-success btn-sm mb-2'}"
                               aria-disabled="true">
                              <i class="material-icons">mode_edit</i> Edit
                            </a>
                            <a type="button" role="button" class="btn btn-light btn-sm mb-2"
                               th:href="@{/deleteContactWithContactId/{id}(id=${address.id})}"
                               th:class="${carrier.contact == null?'btn btn-danger btn-sm mb-2 disabled':'btn btn-danger btn-sm mb-2'}"
                               aria-disabled="true">
                              <i class="material-icons">delete</i> Delete
                            </a>
                          </span>
                  </address>
                  <a type="button" role="button" class="btn btn-light btn-sm mb-2" th:href="@{/addCustomerAddressWithCarrierId/{id}(id=${carrier.id})}">
                    <i class="material-icons">add</i> Address
                  </a>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-nav-tabs">
                <div class="card-header card-header-success ">
                  Kontakt
                </div>
                <div class="card-body">
                  <h6 class="card-title" th:if="${carrier.contact == null}">No Contact Data</h6>
                  <address th:if="${carrier.contact != null}">
                    <abbr title="Phone" th:text="${'Phone: '+carrier.contact.phone}"></abbr><br>
                    <abbr title="Fax" th:text="${'Fax: '+carrier.contact.fax}"></abbr><br>
                    <abbr title="E-MailSmn">E-Mailadresse für SMN: <a th:href="'mailto:'+ ${carrier.contact.emailSmn}"><span th:text="${carrier.contact.emailSmn}"></span></a></abbr><br>
                    <abbr title="E-MailOutput">Dialog Ausgangskanal: <a th:href="'mailto:'+ ${carrier.contact.emailDialog}"><span th:text="${carrier.contact.emailDialog}"></span></a></abbr><br>
                    <abbr title="E-MailAlternate">ESS Alternativkanal: <a th:href="'mailto:'+ ${carrier.contact.emailAlternate}"><span th:text="${carrier.contact.emailAlternate}"></span></a></abbr>
                  </address>
                  <a type="button" role="button" class="btn btn-light btn-sm mb-2"
                     th:href="@{/addContactByCarrier/{id}(id=${carrier.id})}"
                     th:class="${carrier.contact != null?'btn btn-light btn-sm mb-2 disabled':'btn btn-light btn-sm mb-2'}"
                     aria-disabled="true">
                    <i class="material-icons">add</i> Contact
                  </a>
                  <span th:if="${carrier.contact != null}">
                          <a type="button" role="button" class="btn btn-light btn-sm mb-2"
                             th:href="@{/editContactWithContactId/{id}(id=${carrier.contact.id})}"
                             th:class="${carrier.contact == null?'btn btn-success btn-sm mb-2 disabled':'btn btn-success btn-sm mb-2'}"
                             aria-disabled="true">
                            <i class="material-icons">edit</i> Edit
                          </a>
                          <a type="button" role="button" class="btn btn-light btn-sm mb-2"
                             th:href="@{/deleteContactWithContactId/{id}(id=${carrier.contact.id})}"
                             th:class="${carrier.contact == null?'btn btn-danger btn-sm mb-2 disabled':'btn btn-danger btn-sm mb-2'}"
                             aria-disabled="true">
                            <i class="material-icons">delete</i> Delete
                          </a>
                        </span>

                </div>
              </div>
            </div>
          </div>
          <!-- your content here -->
        </div>
      </div>
      <div th:insert="fragments/footer"></div>
    </div>
  </div>
  <div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
