<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::site-head"></head>

<body class="bg-light">
<header th:replace="fragments/header::site-header"></header>
<aside th:replace="fragments/aside_right::aside-right"></aside>
<div class="bd-cheatsheet container-fluid bg-body">
    <section id="content">
        <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Contents</h2>

        <article class="my-3" id="typography">
            <div th:insert="fragments/article_typography::article_typography"></div>

            <div>
                <div class="bd-example">
                    <h4 class="mb-3 text-center">update Carrier</h4>

                    <form th:action="@{/carrier/frontend/update/{id}(id=${carrier.id})}" th:object="${carrier}" method="post">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                           th:field="*{name}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="previousName" class="form-label">Previous Name</label>
                                    <input type="text" class="form-control" id="previousName" name="previousName"
                                           th:field="*{previousName}">
                                </div>
                                <div class="mb-3">
                                    <label for="carrierCode" class="form-label">CarrierCode</label>
                                    <input type="number" class="form-control" id="carrierCode" name="carrierCode"
                                           th:field="*{carrierCode}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="costumerNumber" class="form-label">CustomerNumber</label>
                                    <input type="text" class="form-control" id="costumerNumber" name="costumerNumber"
                                           th:field="*{customerNumber}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="serviceCreateDate" class="form-label">Vertragsabschluss</label>
                                    <input type="date" class="form-control" id="serviceCreateDate" name="costumerNumber"
                                           th:field="*{serviceCreateDate}"
                                           th:value="*{serviceCreateDate}">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"
                                           th:field="*{wmsTkStarted}">
                                    <label class="form-check-label" for="inlineCheckbox1">WMS-TK is started</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"
                                           th:field="*{optionaleServiceLeistungen}">
                                    <label class="form-check-label" for="inlineCheckbox2">OptionaleServiceLeistungen</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"
                                           th:field="*{courtesyCall}">
                                    <label class="form-check-label" for="inlineCheckbox3">CourtesyCall</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option3"
                                           th:field="*{searchCall}">
                                    <label class="form-check-label" for="inlineCheckbox4">SearchCall</label>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row g-3">
                          <div class="col-md-12">
                              <fieldset>
                                  <table class="table">
                                      <thead class="bg-success text-white">
                                      <tr>
                                          <th>Zusatzvereinbarung</th>
                                          <th>Nutzungsvertrag</th>
                                          <th>Leistungsnummer</th>
                                      </tr>

                                      </thead>
                                      <tbody>
                                      <tr>
                                          <td>
                                              <div class="form-row">
                                                  <div class="form-group col-md-12">
                                                      <select class="form-control form-control-sm" th:field="*{additionalAgreements[0].additionalAgreements}">
                                                          <option th:each="type : ${T(v1.carrier.enums.AdditionalAgreementsEnum).values()}"
                                                                  th:value="${type}"
                                                                  th:text="${type.getLabel()}"></option>
                                                      </select>
                                                  </div>
                                              </div>
                                          </td>
                                          <td>
                                              <div class="form-row">
                                                  <div class="form-group col-md-12">
                                                      <select class="form-control form-control-sm" th:field="*{usageAgreements[0].agreements}">
                                                          <option th:each="type : ${T(v1.carrier.enums.AgreementsEnum).values()}"
                                                                  th:value="${type}"
                                                                  th:text="${type.getLabel()}"></option>
                                                      </select>
                                                  </div>
                                              </div>
                                          </td>
                                          <td>
                                              <div class="form-row align-items-center">
                                                  <div class="col-auto my-1">
                                                      <select class="form-control form-control-sm" th:field="*{serviceNumbers[0].product}">
                                                          <option th:each="type : ${T(v1.carrier.enums.ProductEnum).values()}"
                                                                  th:value="${type}"
                                                                  th:text="${type.getLabel()}">Wireframe</option>
                                                      </select>
                                                  </div>
                                                  <div class="col-auto">
                                                      <label class="col-sm-2 col-form-label col-form-label-sm text-muted" for="providerId">ProviderID</label>
                                                      <input type="number" id="providerId" class="form-control form-control-sm" placeholder="ProviderId" th:field="*{serviceNumbers[0].providerId}">
                                                  </div>
                                                  <div class="col-auto">
                                                      <label class="col-sm-2 col-form-label col-form-label-sm text-muted" for="serviceNumber">Leistungsnummer</label>
                                                      <input type="number" id="serviceNumber" class="form-control form-control-sm" placeholder="Leistungsnummer" th:field="*{serviceNumbers[0].serviceNumber}">
                                                  </div>
                                              </div>
                                          </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </fieldset>
                          </div>
                      </div>

                        <hr class="my-4">

                        <div class="row g-3">
                             <h2>BKTO Numbers</h2>
                             <div class="col-md-6">
                                 <table class="table table-bordered table-sm">
                                     <thead>
                                     <tr class="table-success">
                                         <th scope="col">Description</th>
                                         <th scope="col">BKTO Number</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                         <td scope="row">TAL</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.tal}">
                                         </td>
                                     </tr>
                                     <tr>
                                         <td scope="row">xDSL</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.xDsl}">
                                         </td>
                                     </tr>
                                     <tr>
                                         <td scope="row">KVZ AP</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.kvzAp}">
                                         </td>
                                     </tr>
                                     <tr>
                                         <td scope="row">KVZ AP Übergabeanschluss</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.kvzApTransferConnection}">
                                         </td>
                                     </tr>
                                     <tr>
                                         <td scope="row">FTTH</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.ftth}">
                                         </td>
                                     </tr>
                                     <tr>
                                         <td scope="row">SDSL B</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.sdsl}">
                                         </td>
                                     </tr>
                                     <tr>
                                         <td scope="row">L2BSA</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.l2bsa}">
                                         </td>
                                     </tr>
                                     <tr>
                                         <td scope="row">L2BSA Übergabeanschluss</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.l2bsaTransferConnection}">
                                         </td>
                                     </tr>
                                     <tr>
                                         <td scope="row">IP-TV</td>
                                         <td>
                                                 <input type="number" class="form-control form-control-sm" th:field="*{bkto.iptv}">
                                         </td>
                                     </tr>

                                     </tbody>
                                 </table>
                             </div>
                             <div class="col-md-6">

                             </div>

                         </div>

                        <hr class="my-4">

                        <div class="row g-3">
                            <h2>Address</h2>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <select class="form-control form-control-sm" th:field="*{address[0].addressDescription}">
                                        <option th:each="type : ${T(v1.carrier.enums.AddressDescriptionEnum).values()}"
                                                th:value="${type}"
                                                th:text="${type.getLabel()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="costumerAddressName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="costumerAddressName" placeholder="" value=""
                                       th:field="*{address[0].name}" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>


                            <div class="col-12">
                                <label for="costumerAddressStreet" class="form-label">Street</label>
                                <input type="text" class="form-control" id="costumerAddressStreet" placeholder=""
                                       th:field="*{address[0].street}" required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="costumerAddressCityCode" class="form-label">CityCode</label>
                                <input type="text" class="form-control" id="costumerAddressCityCode" placeholder=""
                                       th:field="*{address[0].cityCode}" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>

                            <div class="col-md-9">
                                <label for="costumerAddressCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="costumerAddressCity" placeholder=""
                                       th:field="*{address[0].city}" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row g-3">
                                <h2>Contact</h2>

                                <div class="col-12">
                                    <label for="contactEmailSmn" class="form-label">E-Mailadresse für SMN</label>
                                    <input type="email" class="form-control" id="contactEmailSmn" placeholder=""
                                           th:field="*{contact.emailSmn}">
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="contactEmailDialog" class="form-label">Dialog Ausgangskanal</label>
                                    <input type="email" class="form-control" id="contactEmailDialog" placeholder=""
                                           th:field="*{contact.emailDialog}">
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="contactEmailAlternate" class="form-label">ESS Alternativkanal <span class="text-muted">(Optional)</span></label>
                                    <input type="email" class="form-control" id="contactEmailAlternate" placeholder=""
                                           th:field="*{contact.emailAlternate}">
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="contactPhone" class="form-label">Telephone</label>
                                    <div class="col-auto">
                                        <input class="form-control" type="tel"
                                               th:value="*{contact.phone}" id="contactPhone"
                                               th:field="*{contact.phone}">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="contactFax" class="form-label">Fax</label>
                                    <div class="col-auto">
                                        <input class="form-control" type="tel"
                                               th:value="*{contact.fax}" id="contactFax"
                                               th:field="*{contact.fax}">
                                    </div>
                                </div>
                            </div>

                        <hr class="my-4">

                        <button type="submit" class="btn btn-info">Save</button>
                    </form>
                </div>
            </div>
        </article>


    </section>

</div>

<div th:insert="fragments/scripts::js-scripts"></div>
</body>

</html>
